:root{
  /* ### Neutral */

  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}

*{
  font-family: 'Epilogue', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

.listmMenu{
  list-style-type: none;
  padding: 20px;
}

.listmMenu li{
  margin-top: 15px;
}

.listmMenu button{
  margin-top: 15px;
}

.header{
  
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  
}

.menu{
  color: var(--Medium-Gray);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 65%;
  background-color: white;
  transform: translateY();
}

.rest{
  position:inherit;
  top: 0;
  left: 0;
}

.closeMenu{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 15px;
}

.menuButton{
  color: var(--Medium-Gray);
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  
  background-color: white;
}

.register{
  border: solid 1px var(--Medium-Gray);
}

.hide{
  display: none;
}

.teste{
  background-color: black;
  height: 100vh;
  width: 100%;
}

.subMenu{
  list-style:none;
  margin-left: 20px;
}

.dropdownBTN{
  border: none;
  background-color: white;
  padding: 5px;
}

.backgroungImage{
  width: 100%;
}

.mainContainer{
  padding: 20px;
  color: var(--Medium-Gray);
}

.mainContainer h1{
  text-align: center;
  margin-top: 20px;
  color: black;
}

.mainContainer p{
  text-align: center;
  margin-top: 20px;
}

.mainContainer button{
  display: block;
  margin: auto;
  margin-top: 25px;
  padding: 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
  font-weight: 800;
  width: 120px;
}

.foooter{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foooter img{
  width: 60px;
  
}

.backgroundDesktopImage{
  width: 100%;
}

.imageDesk{
  padding: 8vh;
}



.courtine{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1024px){
  body{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center ;
  }
  .mainContainer{

    
    border: solid 1px;
    width: 100%;
    padding: 4vw;

  }

  .mainContainer h1{
    width: 100%;
    border: solid 1px;
    font-size: 95px;
    text-align:left;
    margin-top: 20px;
    color: black;
  }
  
  .mainContainer p{
    border: solid 1px;
    text-align: left;
    margin-top: 40px;
    width: 400px;
  }
  
  .mainContainer button{
    margin: initial;
    margin-top: 4vh;
  }

  .backgroungImage{
    
    width: 100%;
  }

  .foooter{
    margin-top: 8vh;
  }

  .client{
    width: 300px;
  }

  .foooter{
    display: flex;
    justify-content: flex-start;
  }

  .foooter img{
    margin-left: 40px;
    width: 100px;
  }

}


